.message {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;

  .sent-time {
    text-align: center;
    font-size: 12px;
    color: #ccc;
  }

  .message-info {
    display: flex;

    &.is-owner {
      flex-direction: row-reverse;

      .message-body {
        margin-right: 10px;

        .sender-name {
          text-align: right;
        }
      }
    }
  }

  .message-body {
    max-width: 65%;
    margin-left: 10px;
  }

  .sender-name {
    font-size: 14px;
    color: #ccc;
  }

  .bubble {
    margin-top: 5px;
    color: #000;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 3px;
    background-color: #fff;
  }

  .image {
    padding: 5px 0;
    border-radius: 10px;
    width: 150px;
  }
}

.message-sys {
  font-size: 12px;
  text-align: center;
  color: #ccc;
}
